# Dependencias
/vendor/
composer.lock

# Entorno
.env
.env.local
.env.production

# Logs
/logs/*.log

# Uploads de usuario
/uploads/
/public/uploads/

# Sistema operativo
Thumbs.db
.DS_Store
Desktop.ini

# Editores
.vscode/
.idea/
*.swp
*.swo
