@tailwind base;
@tailwind components;
@tailwind utilities;

/* Personalizaciones CSS para producción se pueden agregar aquí */
.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #27ae60;
    border-radius: 20px;
}
